*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}

div.top-header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

header div.top-header p{
    text-align: center;
    margin-top: 10px;
}

header div.logo{
    padding: 10px; 
}

header .form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    display: none;
    font-size: 12px;
    text-decoration: none;
}

    header nav .navegacion {
        display: flex;
        justify-content: space-between;
    }

header .links1, .links2{
    margin: 10px 0;
    width: 50%; 
    display: flex;
    justify-content: space-around;
}

    .links1 {
        margin-right: 30px;
        margin-left: 0;
    }

    .links2 {
        margin-left: 30px;
        margin-right: 0;
    }

header .navegacion a{
    text-decoration: none;
    color: #000;
}

header .form .buscador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin: 0px 10px;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    color: #666;
    padding: 4px;
}

header .form .submit{
    background-color: #FFF;
    margin: 3px;
    padding: 3px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.ultima-visita, div.ofertas{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuento{
    width: 70%;
}

.descuento, .descripcion{
    font-size: 16px;
    font-weight: normal;
}

h3, .descripcion{
    color: #666;
}

.descripcion{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i, .descuento{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

main section div.productos article i{
    transition: transform 1s;
}

main section div.productos article:hover i{
    transform: rotate(-360deg);
}

article div.articulo1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .descripcion{
    display: block;
}

/*===========================REGISTER===========================*/

.register {
    display: flex;
    justify-content: center;
}

.formulario-register {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.formulario-register .caja-texto {
    height: 25px;
    padding: 5px;
}

.register-botones {
    display: flex;
    justify-content: space-evenly;
}

.register-botones .boton-enviar, .boton-borrar {
    height: 30px;
    width: 80px;
    padding: 5px;
    background-color: #3483fa;
    border-radius: 5px;
}

.formulario-register .boton-enviar:hover {
    background-color: #0022AA;
}

.formulario-register .boton-borrar:hover {
    background-color: #0022AA;
}
/*===========================REGISTER===========================*/

/*===========================LOGIN===========================*/

.login {
    display: flex;
    justify-content: center;
    height: 300px;
}

.formulario-login {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formulario-login .caja-texto {
    height: 30px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

.formulario-login .boton-enviar {
    height: 30px;
    width: 100%;
    padding: 5px;
    background-color: #3483fa;
    border-radius: 5px;
}

.formulario-login .boton-enviar:hover {
    background-color: #0022AA;
}

/*===========================LOGIN===========================*/

footer {
    background-color: #fff;
    margin-top: 40px;
    padding: 10px;
}

    .footer .iconos {
        display: flex;
        justify-content: center;
    }

    .footer .iconos i{
        color: #0022AA;
    }

    .footer .iconos i:hover {
        color: #EAC926;
    }

    .footer h3 {
        margin: 10px;
        font-size: 16px;
        text-align: center;
    }

    .footer p , .copyright{
        color: #a0a0a0;
    }

    .copyright {
        margin-top: 10px;
        font-size: 12px;
        text-align: center;
    }

@media (min-width: 361px){

    .top-header {
        flex-wrap: wrap;
    }

    header div.logo, .form{
        width: 50%;
    }

    .top-header p {
        width: 100%;
    }

    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div .productos article{
        width: 45%;
    }

    .precio, .descuento{
        width: 50%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

        .footer article  {
            width: 25%;
        }
}

@media (min-width: 769px){

    .top-header {
        flex-wrap: wrap;
    }
    
    header div.logo, .form{
        width: 30%;
    }

    .top-header p {
        width: 30%;
    }

    header nav {
        display:block;
    }

    .burger-menu {
        display: none;
    }

    main section div.productos article{
        width: 22%;
    }
}
